/*style for mobile viewport*/
#navigation-xl{
  display:none;
}
#navigation-s{
display:flex;
flex-direction: row;
justify-content: space-around;
width:auto;
min-height:6rem;
background-color: blue;
margin-bottom: 2rem;
}
#navigation-s > img{
margin:auto;

}
#navigation-s > p {
color:white;
}
.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 2rem;
  padding-left:  2rem;
}
.content {
  display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
}
#box-1{
  grid-column:  1 / 3;
  grid-row: 1;
}
#box-2  {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.flex-box{
  margin-left:0;
  display:flex;
  flex-wrap:wrap;
}
.flex-box>img {
   flex: 0 0 auto;
   margin: 10px;
 }
 .blue-text{
   color: blue;
 }
 .decorated {
   text-decoration: line-through;
 }
 span#red{
   text-decoration: none;
   color:red;
 }


 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   padding: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   opacity: 0.8;
 }

 .modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 5rem;
   height:6rem;
 }

 .close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

 #btnModal:hover{
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
.button{
  background: green;
  color:white;
  padding:0.5rem;
}
 /* Media query for desktop viewport*/
@media only screen and (min-width: 600px) {
  body {
    position: relative;
    min-height: 100vh
  }
  .content{
     padding-bottom: 2.5rem;
  }
  footer{
  position: absolute;
  background: gray;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align:center;
  }
  #navigation-s {
    display:none;
  }
  #navigation-xl{
    display:block;
    background-color: blue;
  }
   #navigation-xl ul{
     list-style-type:none;
     padding:0;
     display: flex;
     justify-content: center;
   }

   nav li img {
     display: block;
     margin:auto;
   }

   #navigation-xl a {
     text-decoration:none;
     text-align:center;
     color:white;
     display:block;
     padding: 1rem;
   }
   #navigation-xl a:hover{
     background-color: #555;
   }
}
